$color-button-primary:#e95257;
$color-primary:#151517;
$color-white:#fff;
$color-bg-footer:#f8f8f8;
$color-bg-body:#f7f8ff;
$color-black:#000;
$color-text-primary:#5a5a5a;
$color-icon:#d0d0d0;
$color-text:#bfbfbf;
$color-bg-img:#f7f7f7;



//setup
